*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin: auto;
}
/*box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;*/
.shadow1{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.shadow2{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.cardHighlight{
  min-height: 100%;
  
}
.black{
  background-color: #262626;
}
.l-blue{
  background-color:#c6e2ff;
}
.blue{
  background-color: #007BFF;
}
.text-blue{
  color: #007BFF;
}
.light-beige{
  background-color: #EDEBE8;
}
.dark-beige{
  background-color: #E4E1DC;}

/*PRODUCT- CARD-----------------*/
.add-button{
  border-radius: 0px;
  background-color:#007BFF;
  color: white;
  cursor: pointer;
  transition: border-radius ease 0.5;
}
.added-button{
  border-radius: 0px;
  background-color:#007BFF;
  color: white;
}
/*.add-button:active{
  display:none;
}*/
.add-button:hover, .button-effect:hover{
  border-radius: 10px;
  background-color:white;
  color: #007BFF;
  border: #007BFF solid 2px;

}
.deactivated{
  border-radius: 0px;
  background-color:#165293;
  color: white;
  cursor: pointer;
}
/*.button-item-add:active ~ .add-text{
  display: none;
}

.item-add-text:active{display: block;  }
.item-add-text{
  display: none;
}
.add-text{
   display: block;
}
@keyframes appear{
  100% { display: block; }
}
@keyframes disappear{
  100% { display: none; }
}
@keyframes bg{
  100% {  border-radius: 10px;
  background-color:#007BFF;
  color: white;}
}*/
.add-button:active{
  border-radius: 10px;
  background-color:white;
  color: #007BFF;
  border: #007BFF solid 2px;

}

.item1{
  border: #007BFF solid 2px;
  border-left: none;
  border-right: none;
  font-size: 20px;
  width: 35px;
/*  width: 25%;*/

}
.item2{
  border: #007BFF solid 2px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 27px;
}
.item2:hover{background-color: #007BFF;
color: white;}
.product-img-small{
  height: 25px;
  width: 35px}
.background-hover: hover{

background-color: red;
border-radius: 50%;
}

.zoom-out:hover{
  animation: zoom ease-in-out .4s;
  animation-fill-mode: forwards;
}
@keyframes zoom {
  100%{transform: scale(.9) rotate(4deg);}
}

/*PRODUCT- CARD-----------------*/
/*PRODUCTS-----------------*/
.fixed{position: fixed;}
.texthover:hover{
  cursor: pointer;
  font-weight: bold;
  font-style: italic;
}
.add-product{
  width: 70px;
  height: 70px;
  float: right;
  font-size: 40px;
  color: white;
}
.add-icon{
vertical-align: text-top;}

/*SIGN UP-----------------*/
.form-control{background-color: #EDEBE8;
border:0;
border-bottom: #262626 solid 2px;
}

.form-control:focus{
background-color: white;
border:0;
color:blue;}
.placeholder{
  border-bottom: black solid 3px !important;
}
/*LOG in-----------------*/
.login{
background-image: url(./images/flower3.png);
 background-position: right bottom;
background-repeat: no-repeat;
background-color: #E4E1DC;
/*display: grid;
place-items: center;*/
}
.login-form, .center{
margin: 0 auto;}

.text-register{
  color: #A34546;
}
.text-register: hover{
 color: black;
}
/*ADMIN--------------------*/
@media screen and (max-width: 509px)  {
.admin-dashboard-number{
  font-size: 50px;
}

}
@media screen and (min-width: 510px) and (max-width: 767px){
.admin-dashboard-number{
  font-size: 80px;}
  }
@media screen and (min-width: 767px){
.admin-dashboard-number{
  font-size: 90px;}
  }
  /*CART FOOTER----------*/

  /*PRODUCT VIEW-------*/
  .go-back:hover {
   margin-right: 20px;
    cursor: pointer;
  }
/*USER DASHBOARD-------------------------------------------*/
.user-icons{
  font-size: 40px;
  color: #124e8e;
}
.user-icons:hover{
  color: white;
 cursor: pointer;}
.name{
position: absolute;
margin-top: -10px;
}
.oblique {
  font-style: oblique;
}
@media screen and (max-width: 570px){
.hide{display: none;}
.name{display: none;}
.user-icons{  font-size: 15px;}
  }

.container-right{
  overflow-y: scroll;
  height: 500px;
}
/*admin dashboard------------------*/
.count{
  font-size: 80px;
}